.mp
{
	margin-bottom: 150px;
	margin-top: 150px;
}
#jead
{
	margin-top: 0px;
}
#prodsel
{
	margin-top: 0px;
	background-color: darkgrey;
}
.mps
{
	margin-top: 100px;
	margin-bottom: 50px;

}
.mpv
{
	margin-top: 150px;
}
.mt
{
	margin-top: 50px;
}
.mb
{
	margin-bottom: 50px;
}
.busq
{
	background-color:#FFE082;
}
.mbbus
{
	margin-top: 8px;
}
#proddes
{
	background-color: lightgrey;
}
.proddes
{
	background-color: lightgrey;
}
.mg
{
	margin-top: 300px;
	max-height: 100px;
	width: auto;
}
.tabcarro
{
	background-color: #FFE082;
	font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
}
.mhprod
{
	max-height:100px;
	width: auto;
}

.bcant
{
	margin-left: 3px;

}
#carrito
{

}
#cabeceracarrito
{

}


.minicarrusel
{
	max-height: 50px;
	width: auto;
}




























